services:
  db:
    image: postgres:15
    container_name: task-manager-db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: task-manager-app
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "3000:3000"
    command: ["/bin/sh", "-c", "./wait-for-it.sh db:5432 -- ./task-manager"]

volumes:
  db-data:

